PORT=4000
MONGO_URL=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
SALT=10
STRIPE_SECRET_KEY=your_stripe_secret_key
FRONTEND_URL=http://food.trungdevops.vn
CORS_ORIGINS=http://food.trungdevops.vn,https://admin.food.trungdevops.vn
